{{#unless credentials.player}}
  <h3>Add Member to the team</h3>
  <form>
    <div class="form-group">
      <label for="name">Name</label> {{input value=credentials.name id="name"}}
    </div>
    <button>Edit Team</button>
  </form>
{{/unless}}
