<form>
  <div class="form-group">
    <label for="byeplayer">Player to delete</label>
    {{input value=byeplayer id="byeplayer"}}
  </div>
  <button {{action 'deleteplayer'}}>Delete player</button>
</form>
