<div style='border: 1px solid black; display: inline-block; height: 100px; width: 100px'>
  <h5>{{player.name}}</h5>
  {{player.loginid}}
  {{#link-to 'homepage'}}
  <button {{action "selectUser" player}}>Sign In</button>
  {{/link-to}}
</div>
