<div class="col-md-6">
<h3>Find Team </h3>
<h5> Dropdown sport</h5>
<select class="sport">
  <option value="football">Football</option>
  <option value="basketball">Basketball</option>
  <option value="gym">Gym</option>
</select>
<h5> Dropdown location</h5>
<select class="location">
  <option value="hkisland">HK Island</option>
  <option value="kowloon">Kowloon</option>
  <option value="newterritories">New Territories</option>
</select>
<button class="btn">Search</button>
</div>
