{{#unless credentials.player}}
  <h3>Edit Team - form functionality to be added</h3>
  <form>
    <div class="form-group">
      <label for="description">Description</label> {{input value=description id="description"}}
    </div>

    <button>Edit Team</button>


  </form>
{{/unless}}
