  <h3>Edit Team - form functionality to be added</h3>
  <form>
    <div class="form-group">
      <label for="editname">Name</label>
      {{input id="editname" value=team.name}}
    </div>

    <div class="form-group">
      <label for="playerswanted">Player Wanted</label>
      {{input id="playerswanted" value=team.playerswanted}}
    </div>

    <button {{action 'editTeam' team}}>Edit Team</button>

  </form>
