{{#if correctUser}}
  {{#link-to 'homepage'}}<h1>Enter Site</h1>{{/link-to}}
{{else}}
  <form>
    <div class="form-group">
      <label for="enterpasswordyo">Input Password</label>
      {{input value=enterpasswordyo id="enterpasswordyo"}}
    </div>
    <button class="btn btn-warning"{{action 'submitPassword'}}>Submit Password</button>
  </form>
{{/if}}
