<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
 {{#link-to 'homepage' class="navbar-brand"}}Team Finder{{/link-to}}
   </div>
   <ul class="nav navbar-nav">
     <li>{{#link-to 'homepage'}}HOME{{/link-to}}</li>
     <li>{{#link-to 'homepage'}}ABOUT{{/link-to}}</li>
     <li {{action "gotoprofile"}}>PROFILE</li>
     <li>{{#link-to 'homepage'}}TEAM{{/link-to}}</li>
     <li>{{#link-to 'index'}}SIGN IN{{/link-to}}</li>
   </ul>
 </div>
</nav>
