<div class="container">
<div style="height:500px;width:480px;border: 1px solid black">
  
<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

<input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox"><input class="formationbox">

</div>
</div>

<button>Clear Formation</button>

{{#each team.teammates as |teammate|}}
  <li>{{teammate}}
    <button {{action 'deleteteammate' teammate model.teams model.players}}>Add to formation</button></li>
{{/each}}
