.signin {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid rgb(205, 135, 0);
  height: 120px;
}

.homepagebox {
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 2px solid rgb(205, 135, 0);
  padding: 1px;
}

h5 {
  font-size: 90%;
}

h6 {
  font-size: 90%;
}

.lower {
  margin-top: 45px;
}

.video {
  width:120%
}
.video2 {
  width:120%
}
.video1 {
  width:120%
}

.formationbox {
  width:65px;
  height:70px;
}

.main {
  background: url(https://s3.amazonaws.com/codecademy-content/projects/2/move-gear/bg.jpg) no-repeat center center;
  background-size: cover;
  height: 600px;
}

.whitetext {
  color:white;
}

.center {
  text-align: center;
}

.indexform {
  color: white;
}

input {
  color: black;
}

body {
  background-color: #1c1c1c;
  color: rgb(226, 226, 226);
  padding-top: 50px;
}

.orangebox {
  width:200px;
  border:1px solid rgb(205, 135, 0);
  margin:10px;
}

.orangebox-message {
  width:500px;
  border:1px solid rgb(205, 135, 0);
  border-radius: 5px;
  margin:15px;
  padding: 5px;
}

.categoryimage {
  height: 150px;
  width: 200px;
}

.feature {
  background: url('https://s3.amazonaws.com/codecademy-content/projects/2/move-gear/01.jpg') no-repeat center center;
  background-size: cover;
  height: 650px;
  width: 100%;
}
