{{#link-to 'index'}}HOME{{/link-to}}
{{#link-to 'index'}}ABOUT{{/link-to}}
{{#link-to 'index'}}INBOX{{/link-to}}
{{#link-to 'index'}}PROFILE{{/link-to}}
{{#link-to 'index'}}TEAM{{/link-to}}
{{#link-to 'index'}}SIGN IN SIGN UP{{/link-to}}
{{#link-to 'team' 2}}Team 2{{/link-to}}
<div></div>
{{outlet}}
