<nav class="navbar navbar-inverse">
 <div class="container-fluid">
   <div class="navbar-header">
 {{#link-to 'homepage' class="navbar-brand"}}Team Finder{{/link-to}}
   </div>
   <ul class="nav navbar-nav">
     <li>{{#link-to 'homepage'}}HOME{{/link-to}}</li>
     <li>{{#link-to 'homepage'}}ABOUT{{/link-to}}</li>
     <li>{{#link-to 'homepage'}}PROFILE{{/link-to}}</li>
     <li>{{#link-to 'homepage'}}TEAM{{/link-to}}</li>
   </ul>
 </div>
</nav>
<!-- {{dropdown-filter}} -->

<div class="container">
  <div class="col-md-12">
    {{player-list model=model}}
  </div>
</div>

<div class="container">
  <div class="col-md-12">
    {{team-list model=model}}
  </div>
</div>
