<div class="jumbotron">
  <div class="container">
  <center><h1>Team Finder</h1>
  <p>Please Sign-in Below</p></center>

  </div>
</div>
<div class="container">
  <div class="col-md-6">
    <center>
      {{sign-up-player saveSignUpPlayer="saveSignUpPlayer"}}
    </center>
  </div>
  <div class="col-md-6">
    <center>
    {{sign-up saveSignUpTeam="saveSignUpTeam"}}
    </center>
  </div>
</div>
<br>
  <div class="container">
    <div class="col-md-6">
      <center><h3> Existing Player Sign-in </h3></center>
      {{#each model.players as |player|}}
        <div class="col-md-3 signin">
          {{choose-user-list player=player}}
        </div>
      {{/each}}
    </div>
    <div class="col-md-6">
      <center><h3> Existing Team Sign-in </h3></center>
      {{#each model.teams as |team|}}
        <div class="col-md-3 signin">
          {{choose-team-list team=team}}
        </div>
      {{/each}}
    </div>
  </div>
