<div class="col-md-6">
<h3>Find Team </h3>
<h5> Dropdown sport</h5>
<select class="sport">
  <option value="football">Football</option>
  <option value="basketball">Basketball</option>
  <option value="bodybuilding">BodyBuilding</option>
</select>
<h5> Dropdown location</h5>
<select class="location">
  <option value="hkisland">HK Island</option>
  <option value="kowloon">Kowloon</option>
  <option value="newterritories">New Territories</option>
</select>
<button class="btn">Search</button>

<hr>

<h4> Categories</h4>
<h5> Football (100)</h5>
<h5> Basketball (140)</h5>
<h5> BodyBuilding (60)</h5>
</div>

<div class="col-md-6">
<h3>Statement of Purpose </h3>
<h4>* Taking the HK sports scene to the next level </h4>
<h4>* Connecting Players to Teams </h4>
<h4>* Connecting Teams with Teams </h4>
<hr>

<h3>Component / Nested Route </h3>
{{#each model.teams as |team|}}
{{team.name}}
{{/each}}
</div>
